body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding-top:50px;

}
.header{
    position:fixed;
    top:0;
    left:0;
    display:flex;
    background-color: #0e1823;
    border-bottom:10px;
    width:100%;
    gap:20px;
    align-items:center;
    padding-top:10px;
    padding-bottom:10px;
    z-index:1000;
    flex-wrap:wrap;
}
.search{
    width:55%;
    margin-right:0;
}
.headnav{
      margin-left:0;
}
.search input{
    padding:10px;
    width:80%;
    margin-right:50px;
    background:white;
    border:none;
    border-radius:8px 0 0 8px ;
    outline:none;
    color:black;
    font-size:18px;
    font:bold;
    flex:1 1 5px;
    margin-right:0;
}
.search button{
    padding:10px;
    width:40px;
    background:#d9d9f6;
    border:none;
    border-radius:0 8px 8px 0;
    outline:none;
    color:black;
    font-size:18px;
    font:bold;
    flex:1 1 5px;
    
}
.header img{
    width:10%;
    margin-right:40px;
    margin-left:20px;
}
.headnav a{
    margin-left:50xp;
    margin-right:40px;
    font-size:24px;
    color:white;
    font:bold;
    padding-left:10px;
    padding-right:10px;
    text-decoration:none;

}
.search button:hover{
    background-color:#c5caf2;
    transform:none;
    cursor:pointer;
    
}
.header a:hover{
    outline-color:white;
}
.logout-btn{
    padding:10px;
    background:#54d5a2;
    border:none;
    border-radius:9px;
    cursor:pointer; 
    margin-left:10px;
}
  .username{
        font-size: 18px;
        cursor:none;
        color:white;
    }
    .uname{
        font-size:18px;
        color:white;
    }
a {
  text-decoration: none;
  padding-bottom: 5px;
  color: black;
}

 .header a.active {
  border-bottom: 2px solid #6c3ad6;
}
.btn{
    background:none;
    margin-left:50xp;
    margin-right:40px;
    font-size:24px;
    color:white;
    font:bold;
    padding-left:10px;
    padding-right:10px;
    outline:none;
    border:none;
    transform: none;
    cursor:pointer;
}