body{
    background:#f4f6f8;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 16px;
  text-align: center;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor:pointer;
  z-index:1;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  margin: 12px 0 6px;
  font-size: 18px;
  color: #222;
}

.card p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #388e3c;
}
.addcart{
  display:flex;
  width:100%;
  gap:10px;
  justify-items:center;
  justify-content:center;
}
.qty-box button{
  padding:10px;
  background-color:#d2d9e1;
  border:none;
  margin-left:20px;
  margin-right:20px;
  border-radius:8px;
  width:50px;
}
.addcart button{
  width: 40px;
  height:40px;
  border-radius:8px;
  border:none;
  cursor:pointer;

}
button:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}
.cart-button{
  padding:10px;
  border:none;
  border-radius:7px;
  margin-top:5px;
}
