body{
    background: linear-gradient(135deg, #4e73df, #1cc88a);
    
}
.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.register-card {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.register-card h2 {
  margin-bottom: 25px;
  color: #333;
}

.register-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.register-card input:focus {
  border-color: #4e73df;
  box-shadow: 0 0 5px rgba(78, 115, 223, 0.5);
}

.register-card button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  background: #4e73df;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.register-card button:hover {
  background: #2e59d9;
}


.error {
  color: red;
  margin-bottom: 10px;
}

.success {
  color: green;
  margin-bottom: 10px;
}

.register-card a {
  color: #4e73df;
  text-decoration: none;
  font-weight: 500;
}

.register-card a:hover {
  text-decoration: underline;
}
